
<div class="form-container">
  <h2>Student Form</h2>

  <label>Student Name:</label>
  <input
    [(ngModel)]="studentName"
    placeholder="Enter Student Name"
    [ngStyle]="{
      borderColor: studentName ? 'green' : 'red'
    }"
  />

  <label>Student Email:</label>
  <input
    [(ngModel)]="studentMail"
    type="email"
    placeholder="Enter Student Email"
    [ngStyle]="{
      borderColor: studentMail ? 'green' : 'red'
    }"
  />

  <p
    [ngClass]="{
      'valid-name': studentName.length > 0,
      'invalid-name': studentName.length <= 0
    }"
  >
    Name must not be empty
  </p>

  <button (click)="submitForm()">Submit</button>

  <p *ngIf="submitted" class="success-message">
    Student submitted successfully!
  </p>

  <ul>
    <li *ngFor="let student of students; let i = index">
      {{ i + 1 }}. {{ student.name }} - {{ student.email }}
    </li>
  </ul>
</div>

