<h2>Student Info Form</h2>

<!--Interpolation-->
<p>Welcome, {{studentName}}!</p>

<!--Two-way binding-->
<input [(ngModel)]="studentName" [placeholder]="'Enter Student Name'" 
[ngStyle]="{borderColor: studentName ?'green':'red'}">

<!--Attribute Directive:ngClass-->
<p [ngClass]="{'valid-name':studentName.length>3, 'invalid-name': studentName.length<=3}">Name must be more than 3 characters.</p>

<button (click)="submitForm()">Submit</button>

<!--Structural Directive: *ngIf-->

<p *ngIf="submitted">Student submitted successfully!</p>

<!--Structural Directive: *ngFor-->
<ul>
    @for (student of students; track $index) {
         <li >{{student}}</li>
    }
</ul>